@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* For ExploreButton.tsx */

  .containerClass {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 0.75rem;
    /* opacity: 0.7; */
  }

  .circularText {
    height: 24px;
    width: 24px;
    position: relative;
    /* animation: effect 8s linear infinite; */
  }

  @keyframes effect {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  span {
    position: absolute;
    left: 50%;
    transform-origin: 0px 65px;
    transform-style: flat;
    text-transform: uppercase;
    color: black;
  }

  .text-transparent {
    -webkit-text-fill-color: transparent;
  }

  .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text; /* Standard property for compatibility */
  }

  /* For Font */
  .neue-haas-grotesk-font {
    font-family: neue-haas-grotesk-display, sans-serif;
  }

  /* For CustomBotton.tsx */
  .button {
    @apply relative;
  
    & > div {
      @apply button bg-black border-t-4 border-yellow-300 rounded-full overflow-hidden;
  
      .el {
        @apply w-full h-full p-4 flex items-center justify-center bg-green-300;
  
        &:nth-of-type(2) {
          @apply bg-black;
  
          p {
            @apply text-yellow-300;
          }
        }
  
        &:hover {
          .perspectiveText {
            @apply transform rotate-x-90;
            p:nth-of-type(1) {
              @apply transform -translate-y-full opacity-0;
            }
            p:nth-of-type(2) {
              @apply opacity-1;
            }
          }
        }
      }
    }
  }
  
  .perspectiveText {
    @apply flex flex-col justify-center items-center h-full w-full transform-style-preserve-3d transition-transform duration-750 ease-in-out;
  
    p {
      @apply transition-all duration-750 ease-in-out pointer-events-none text-uppercase;
  
      &:nth-of-type(2) {
        @apply absolute transform-origin-bottom-center transform rotate-x-90 translate-y-9 opacity-0;
      }
    }
  }

}
